*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff8e7;
}

.login-card {
  background: white;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  text-align: center;
}

.logo {
  font-size: 4rem;
  color:#d4a373;
  margin-bottom: 15px;
}

.login-card h1 {
  color: #5c4033;
  margin-bottom: 10px;
}

.login-card p {
  color: #777;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.input-group input {
  border:none;
  outline: none;
  width: 100%;
}

button {
  width: 100%;
  background: #8b5e3c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #5c4033;
}

.navbar {
  background: #5c4033;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar li {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

@media(max-width:768px){
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}